/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main {  
    width: 100%;
/*    border: 1px solid #000;  */
	padding-top: 120px;
	padding-bottom: 150px;
}  
.main div   {  
    width: 90%;  
/*    border: 1px solid #FF0000;  */
    margin: 0px auto;
}

body {
	background-color:  #f0fff0;
}

.header {
	padding :0px;
	background-color : #3cb371;
	height: 80px;
	width : 100%;
  	position: fixed;
  	top: 0;  
    left: 0; 
	z-index: 999;
	box-shadow: 0px 4px 10px rgba(0,0,0,0.4);	
}

.header div {
	position: relative;
    width: 90%;  
/*    border: 1px solid #FF0000;  */
    margin: 18px auto;
}

.header-title {
	position: absolute;
	display: inline;
	vertical-align: middle;
	font-size: 35px;
	font-weight: bold;
	color : darkgreen;
	float: left;
}

.header-menu {
	float :right;
	top:50px;
}

.footer {
	padding :0px;
	background-color : white;
	height: 50px;
	width : 100%;
	position: fixed;
  	bottom: 0;  
    left: 0; 
	z-index: 999;
	box-shadow: 10px 0px 10px rgba(0,0,0,0.4);	
}

.footer-title{
	vertical-align: middle;
	font-size: 20px;
	font-weight: bold;
	color : darkgreen;
}

.footer div {
    width: 80%;  
/*    border: 1px solid #FF0000;  */
    margin: 18px auto;
    position: relative;
}

.copyright {
	position: absolute;
	right:0;
	font-size: 7px;
	display: inline;
	vertical-align: middle;
}

.copyright_icon {
  font-family: 'Times New Roman', 'Times';
}

.title {
	font-size: 25px;
	text-align:center;
	padding : 10px;
	
}

table{
	background-color: white;
}

.center{
	margin: 0 auto; 
	text-align:center;
}

.center_mergin {
	margin: 0 auto; 
}

.button-in {
	background: #f08080 !important;
}

.button-out {
	background: #add8e6 !important;
}

.button-green {
	background: lightseagreen !important;
}

.button-pink {
	background: #cd5c5c !important;
}

.button-yellow {
	background: yellowgreen !important;
}

.status{
	display: inline-block;
}

.width-max {
	width :100%;
	margin-top: 20px;
}

.comment {
	width :60%;
	margin: 20px auto; 
	text-align: center;
}

.left {
	text-align: left;
	word-break:break-all;
}
